.app-container {
  width: 100%;
  max-width: 944px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-main {
  display: flex;
}

.sidebar-temp {
  width: 14rem;
}

.flex {
  display: flex;
}

.product-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
