.app-container {
  width: 100%;
  max-width: 944px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-main {
  display: flex;
  gap: 1rem;
}

.sidebar-temp {
  width: 14rem;
}